/* Styles globaux */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 20px 0;
}

.header-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

.main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.app-preview {
    width: 30%;
    background: white;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.app-preview img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #005f73;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.social-media a:hover {
    text-decoration: underline;
}

.instagram-theme {
    color: #C13584;
}


.twitter-theme {
    color: #1DA1F2;
}


.chatgpt-theme {
    color: #2563EB;
}


main {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto; 
    padding: 0 20px; 
}

.app-preview {
    flex-basis: calc(33.333% - 20px); 
    box-sizing: border-box; 
    margin: 10px; 
}

.app-preview img {
    width: 100%; 
    height: auto;
}


